.top {
    background-color: #1F2937;
    height: 500px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    margin-left: 150px;
    padding-left: 0;
}

li,
a {
    list-style-type: none;
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
    margin-right: 20px;
    padding: 0;
}

ul {
    padding: 0;
}

.links {
    display: flex;
}

.awesome-header-full {
    display: flex;
    width: 80%;

}

.awesome-heading {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.awesome-text {
    font-size: 18px;
    color: #E5E7eb;
}

.top-signup {
    background-color: #3882f6;
    padding: 10px 30px;
    color: white;
    font-weight: 900;
    font-size: 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}

.awesome-text-button {
    width: 50%;
    margin-left: 14%;
    margin-right: 5%
}

.image {
    width: 50%;
}

.middle-top {
    height: 500px;
}

.random-info {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.middle-top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-space {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.card {
    width: 150px;
    height: 150px;
    border: #3882f6 solid;
    margin-right: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.text-space {
    display: flex;
    justify-content: center;
}

.text {
    padding: 0;
    width: 150px;
    margin-right: 56px;
    margin-top: 0;
    color: rgb(34, 34, 73);
    font-size: 18px;
}

.middle-bottom {
    height: 500px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.quote-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    font-size: 36px;
    font-style: italic;
    font-weight: 0;
    color: #1f2937;
    width: 800px;
    flex: 1 0 auto;

}

.quote-author {
    display: flex;
    font-size: 26px;
    font-weight: 900;
    justify-content: flex-end;
    font-style: normal;
}